<div class="container">
    <div class="inputs">
        <h2>Add Genre</h2>
        <form ng-submit="gc.addGenre(gc.genre)">
            <div class="card">
                <input type="text" ng-model="gc.genre.genre" placeholder="New Genre Name">
                <input type="submit" class="btn btn-outline-secondary">
                <!-- {{ 2 === 2 }} -->
            </div>
        </form>
            <h2>Genres</h2>
            <div>
                <table class="table">
                    <thead class="tablehead">
                        <th>Genre</th>
                        <th>Records by Genre</th>
                        <th>Actions</th>
                    </thead>
                    <tbody class="table-body" ng-repeat="genre in gc.genres">
                        <td>{{genre.genre}}</td>
                        <td>{{genre.id}}</td>
                        <td><button ng-click="gc.deleteGenre(genre.id)"  class="btn btn-warning">Delete</button></td>
                    </tbody>
                </table>
            </div>
    </div>
</div>